= render 'layouts/header'

.formwrapper
  %h2 アカウント編集
  = form_for(current_user) do |f|
    .field
      = f.label :ユーザー名
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name"
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions
      = f.submit "更新"
