%main
  .contents
    .contents__top-content
      .contents__top-content__header
        .heading
          買い物リスト
      %ul.items
        - if !@items.empty?
          - @items.each do |item|
            - if item.item_inventory.present? && (item.term * item.item_inventory.amount / 100) <= 7
              = render partial: 'item', locals: {item: item}
    
    .contents__bottom-content
      .contents__bottom-content__header
        .heading
          マイアイテム
        = link_to new_user_item_path, class: 'add-item' do
          #{icon('fas', 'plus', class: 'add-icon')} アイテムを追加
        = form_with url: user_items_searches_path, local: true, method: :get, class: 'search-form' do |f|
          = icon('fas', 'search', class: 'search-icon')
          %label.search-field
            = f.text_field :keyword, placeholder: 'アイテムを検索する', class: 'search-input'

      %ul.items.my-items
        = render @items if !@items.empty?