%header.header
  %h1.header__title
    = link_to root_path, class: 'title' do
      StockWatch
  - if user_signed_in?
    %nav.header__nav-list
      %ul.lists
        %li.user-name
          = current_user.name
        %li
          = link_to edit_user_path, class: 'menu' do
            アカウント編集
        %li
          = link_to user_purchase_histories_path, class: 'menu' do
            購入履歴
        %li
          = link_to destroy_user_session_path, method: :delete, class: 'menu' do
            ログアウト